<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>List of Courses</h1>
    
    <table>
        <tr>
            <th>Course Name</th>
            <th>Course Code</th>
            <th>Date</th>
        </tr>
        {% if courses %}
            {% for course in courses %}
                <tr>
                    <td>{{ course.course_name }}</td>
                    <td>{{ course.course_code }}</td>
                    <td>{{ course.date }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td> No courses found.</td>
                <td></td>
                <td></td>
            </tr>
        {% endif %}
    </table>
</body>
</html>