<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>book details</h1>
    <table border="2">
        <tr>
            <th>Book_id</th>
            <th>title</th>
            <th>author</th>
            <th>date</th>
            <th>isbn number</th>
        </tr>
        {% for x in display %}
        <tr>
            <td>{{x.book_id}}</td>
            <td>{{x.title}}</td>
            <td>{{x.author}}</td>
            <td>{{x.date}}</td>
            <td>{{x.isbn}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>