<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Product List</h1>
<ul>
    {% for product in products %}
        <li>
            {{ product.name }}<br>
            Price: ${{ product.price }}<br>
            {% if product.in_stock == "In Stock" %}
                <p style="color: green;">In Stock</p>
            {% else %}
                <p style="color: red;">Out of Stock</p>
            {% endif %}
        </li>
    {% endfor %}
</ul>
</body>
</html>